---
layout: generic_collection_item 
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Edicíon'
    value: page.edition
  - label: 'Tipo'
    value: page.object_type
  - label: 'Creador'
    value: page.creator
  - label: 'Descripción'
    value: page.description
  - label: 'Ubicacíon'
    value: page.location
  - label: 'Idioma'
    value: page.language
  - label: 'Fecha'
    value: page._date
  - label: 'Fuente'
    value: page.source
    type:  link
  - label: 'Manifiesto IIIF'
    value: page.manifest
    type:  link
---

